<header class="app-header">
  <div class="header-left">
    <h1>E-commerce Angular 17</h1>
    <nav class="nav">
      <a routerLink="/">Produtos</a>
      <a routerLink="/cart">Carrinho</a>
    </nav>
  </div>

  <div class="header-right">
    <div class="muted">Usuário: <strong>{{ userId() ?? 'não definido' }}</strong></div>
    <button class="btn ghost" (click)="openModal()">Configurar userId</button>
    <app-dev-token style="margin-left:.25rem"></app-dev-token>
    <app-token-expiry style="margin-left:.25rem"></app-token-expiry>
  </div>
</header>

<main style="padding: 1rem;">
  <router-outlet></router-outlet>
</main>

<app-user-id-modal></app-user-id-modal>
<app-toasts></app-toasts>
